<div class="container">

    <h1>HI place content in me with handlebars</h1>
    {{!-- think about placing content when it's not saved. so think about putting in another variable like saved:
    boolean --}}
    {{#each article}}
    <div>
        {{#unless isSaved}}
            <p>{{this.headline}}</p>
        {{/unless}}
    </div>
    {{/each}}

    {{!-- if nothing is in the DB render this --}}
    {{#if empty}}
        <div>
            <p class="text-center">
                No data here. please render some with the scraper
            </p>
        </div>
    {{/if}}

</div>